h1{
    text-align: center;
    color: white;
    font-size: 200%;
    border: solid 1px #5E747F;
    padding: 1%;
}

h2{
    color: #445566;
}
header{
    background: #5E747F;
}

header a{
    color: white;   
}

header a:hover{
    color: #C2EFEB;
}

.carousel{
    display: block;
    float: right;
    clear:none;
    width: 100%;
}

.carousel-inner{
    border: 5px solid #445566;
}

.workExp,.PerProjects,.AboutTxt{
    display: block;
    float: left;
    clear: none;
    width: 100%;
}

.AboutTxt{
    float: right;
}


main{
    margin: 1%;
}

.me{
    width: 100%;
    border-radius:1rem;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
.carousel-indicators li {
  background-color: rgb(58, 58, 58);
}
.carousel-indicators .active {
  background-color: rgb(53, 100, 255);
}



@media only screen and (min-width: 992px) { 

    .me{
        width: 30%;
    }

    .carousel{
        width: 40%;
    }

    .workExp,.PerProjects{
        width: 59%;
    }

    .AboutTxt{
        width: 67%;
    }
}
  
